@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 [type='submit'] {
    background: #1976d2;
  }
}

@layer components {
  .form-item {
    @apply pb-4 px-4 lg:w-full;
  }
  .action-btn {
    @apply bg-custom-pink hover:bg-custom-pink-dark
  }
  .action-link {
    @apply text-custom-blue hover:underline
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
